In [12]:
import pandas as pd
import numpy as np
from utils import columns, clean_df
from sklearn.linear_model import LinearRegression


### TODOS
0. Cleaning (/)
1. EDA
2. Simple Regression Model (+ Tuning, Evaluation)
3. PyCaret magic
4. Production Scenario

### Sources
https://scikit-learn.org/stable/auto_examples/model_selection/plot_cv_predict.html#sphx-glr-auto-examples-model-selection-plot-cv-predict-py

In [8]:
%config Completer.use_jedi = False

In [9]:
df = pd.read_csv("data/imports-85.data", header=None, names=columns)

In [10]:
df = clean_df(df)

164 rows (80.0%) left after preprocessing

In [11]:
df.head(3)

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
4,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0
6,158.0,audi,gas,std,four,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,17710.0

In [19]:
# 2. Simple Regression Model
cols = list(df.columns)
target, features = cols[0], cols[1:]

# TODO: Make all features numeric or use originally numerics only
# X,y = df[features], df[target]

In [21]:
# While most models algos handle numeric and categorical features automatically, Linear Regression doesn't
# So some preprocessing is required

#model = LinearRegression().fit(X, y)

In [42]:
#df["fuel-system"].astype('category').cat.codes[:10]
pd.factorize(df["fuel-system"])[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 2, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 1, 0, 1, 1, 1, 1, 1, 4, 4, 4, 0, 1,
       1, 1, 1, 1, 0, 5, 5, 5, 5, 0, 1, 1, 1, 6, 6, 1, 1, 1, 6, 6, 1, 5,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 5, 0, 5, 0, 5,
       0, 1, 6, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 5, 0, 5, 0, 0, 5, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 5, 0])